body {
	background-color: #f1f1f1;
	display: flex;
	justify-content: center;
	flex-direction: column;
 	align-items: center;
 	margin-top: 60px ;
}

.image-logo{
	width:100px;
	height:100px;
	margin: center;
}

nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #262626;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition:  transform 0.5s;
	
	
}
nav ul li a:hover:before{
	transform-origin: left;
	transform: scaleX(1);
	
}
nav ul li a:hover{
	color:rgba(245, 19, 177, 0.884);
	
}
nav .brand{
	float: right;
	height: 100%;
	line-height: 70px;
}
nav .brand h2{
	margin: 0;
	padding: 0;
	color: #262626;
}
nav ul{
	float: right;
	display: flex;
	margin:0;
	padding: 0;
	color: black;
}
nav ul li{
	list-style: none;
	color: black;
}
nav ul li a{
	position: relative;
	display: block;
	height: 80px;
	line-height: 80px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #262626;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.5s
	
}
.body-dang-ky{
	background-color: #fff;
	padding: 50px 50px;
	height: 500px;
	width: 465px;
	border-radius: 10px;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.title-form{
	text-align: center;
}

.box-1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.text-lable{
	display: block;
	margin-bottom: 5px;
}

.input-text{
	width: 100%;
	height: 30px;
	border: 1px solid;
}

input:focus {
	border: 2px solid #6bf800;
}

.button-submit{
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.button-dangky{
	width: 100px;
    height: 36px;
	background-color: #3F51B5;
	color: #fff;
	border: none;
	border-radius: 2px;
}

.yeuCauDangKyTaiKhoan{
	/*text-decoration: none;*/
	color: #888;
	/*font-size: 11px;*/
}