<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/public/form/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.addinfor{
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
		}
	</style>
</head>
<style>
	body {
	  background-image: url('/public/image/home3.jpeg');
	}
	</style>
	
<body>
	
		<nav>
			<div class="brand">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
					Đăng Nhập
				  </button>
			</div>
			<ul>
				<li><a href=""><i class="fa fa-home" aria-hidden="true"></i> <b>Trang Chủ</b></a></li>
				<li><a href=""><i class="fa fa-info" aria-hidden="true"></i> <b>Về Chúng Tôi</b></a></li>
				<li><a href=""><i class="fa fa-truck" aria-hidden="true"></i> <b>Dịch Vụ</b></a></li>
				<li><a href=""><i class="fa fa-telegram" aria-hidden="true"></i> <b>Thông Tin</b></a></li>
				<li><a href=""><i class="fa fa-location-arrow" aria-hidden="true"></i> <b>Địa Chỉ</b></a></li>
			</ul>
			
		</nav>
		
	
	
	
	  <!-- The Modal -->
	  <div class="modal fade" id="myModal">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
		  
			<!-- Modal Header -->
			
			<!-- Modal body -->
			<div class="modal-body">
				<div>
					<img class="image-logo" src="/public/form/logo1.gif" alt="logo">
				</div>
				<div class="body-dang-ky">
					<div class="box-dang-ky">
						<h2 class="title-form">ĐĂNG NHẬP </h2>
						<form class="form-1 formdangnhap2" id="formdangnhap2" method="POST" action="/user/dangnhap">
							<div class="box-1 name">
								<label class="text-lable">Nhập gmail &#128231;</label>
								<input id="input_name" class="input-text" type="text" placeholder="example**@gmail.com" name="userGmail" autofocus>
								<span id="thongbaoloi1" style="color: red"></span>
							</div>
							
							<div class="box-1 password">
								<label class="text-lable">Nhập mật khẩu &#128272;</label>
								<input class="input-text" type="password" placeholder="Nhập mật khẩu" name="userPass">
							</div>
							<div class="button-submit">
								<div>
									<input type="checkbox" id="luuPass" name="luuPass" value="">
									  <label for="vehicle1">Lưu mật khẩu</label><br>
								</div>
								<button id="button-submit" class="button-dangky" type="submit">Đăng nhập</button>
							</div>
							<div class="addinfor">
								<a href="/user/dangky" class="yeuCauDangKyTaiKhoan">Bạn chưa có tài khoản?</a>
								<a href="/user/recoverypassword" class="yeuCauDangKyTaiKhoan">Quên mật khẩu?</a>
							</div>
							<br>
							<div>
								<img src="/public/image/gif1.gif" alt="Computer man" style="width:350px;height:120px;">
							</div>
						</form>
					</div>
						
				</div>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
			
		  </div>
		</div>
	  </div>
	  
	</div>
	
	
	

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
